*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: hsl(229, 6%, 66%);
  background: hsl(0, 0%, 98%);
  display: grid;
}

h2 {
  white-space: nowrap;
  font-size: 2rem;
  color: hsl(229, 6%, 66%);
}

.colored_h2 {
  color: hsl(234, 12%, 34%);
}

h4 {
  font-size: 1.7rem;
  color: hsl(234, 12%, 34%);
}

.header {
  padding: 5rem 2rem;
  text-align: center;
}

.header > p {
  margin-top: 1.5rem;
}

.quality {
  width: 250px;
  background: #fff;
  border-radius: 10px;
  padding: 2rem 3rem;
  display: grid;
  gap: 1.5rem;
}

.quality .image {
  justify-self: end;
}

.quality_cyan {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.quality_red {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.quality_orange {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.quality_blue {
  border-top: 5px solid hsl(212, 86%, 64%);
}

.quality_two {
  display: grid;
  gap: 2rem;
}

.grid {
  display: grid;
  justify-items: center;
  gap: 2rem;
}

@media screen and (min-width: 1440px) {
  h2 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2rem;
  }

  .grid {
    grid-template-columns: repeat(3, 40rem);
    justify-content: center;
  }

  .quality {
    width: 400px;
  }

  .quality_cyan {
    align-self: center;
    justify-self: center;
  }

  .quality_blue {
    align-self: center;
    justify-self: center;
  }
}
